section.places{
    background-color: white;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 20px;
}
.places h1{
    font-size: 30px;
    
}

section.places .articles{
    width: 390px;
      padding: 20px;
      margin: 20px;
      border: 1px solid #FF5A5F;
      border-radius: 4px;
      background-color: #FFFFFF;
}

.articles h2{
    font-size: 30px;
    text-align: center;
}